node_modules
.vscode-test/
*.vsix
.DS_Store
test-files/
*.log
*.code-workspace
logical-properties-*

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions